<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Strategisches Trendradar{% endblock %}</title>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Optionales CSS für die Sidebar -->
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 48px 0 0; /* Höhe der Navbar berücksichtigen, falls vorhanden */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h5 class="sidebar-heading">Trends</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Übersicht</a>
                    </li>
                    {% for trend in all_trends %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.trend_detail', trend_id=trend.id) }}">{{ trend.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <!-- Hauptinhalt -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}
            <!-- Der spezifische Inhalt jeder Seite wird hier eingefügt -->
            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap JS und Abhängigkeiten -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>